/* *****************************
 *
 * Clearfix
 *
 **************************** */
.clear:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clear
{
	display:inline-table;
	min-height:1%;
}
* html .clear
{
	height:1%;
}
.clear
{
	display:block;
}